/* App.css */
.App {
  position: relative;
  min-height: 100vh; /* Ensure the full height of the viewport */
  background-image: url('components/bg.jpg'); /* Set your background image */
  background-size: cover; /* Cover the entire container */
  background-attachment: fixed; /* Keep the background fixed during scroll */
  background-position: center; /* Center the background image */
}

.content {
  position: relative; /* Position relative to parent */
  z-index: 2; /* Ensure content is above the background */
  padding: 0px; /* Optional padding */
  /* background-color: rgba(255, 255, 255, 0.8); Optional background color for content visibility */
  border-radius: 10px; /* Optional border radius */
}
/* ComponentStyles.css */
.section {
  margin: 20px 0; /* Adjust the margin as needed */
  padding: 5px; /* Optional: Add padding for inner spacing */
  background-color: rgba(16, 30, 62, 0.8); /* Optional: Light background for readability */
  border-radius: 10px; /* Optional: Rounded corners */
}
.section1{
  padding: 5px; /* Optional: Add padding for inner spacing */
  background-color: rgba(16, 30, 62, 0.7); /* Optional: Light background for readability */
  border-radius: 10px;
}